<!--TODO-->

{% for post in blog %}
<article>
        <a href="/{{ post[0]['title'] }}" class="image"><img src="images/pic04.jpg" alt="" /></a>
        <h3 class="major">{{ post[0]["title"] }}</h3>
        <p>Created: {{ post[0]["created"] }} <br>Updated: {{ post[0]["updated"] }}</p>
        <a href="/{{ post[0]['title'] }}" class="special">Learn more</a>
</article>
{% endfor %}

