<div id="education" class="expanded landing__section">
    <div class="container">
        <div class="expanded__inner">
            <div class="expanded__media">
                <img src="./images/graduation-cap.svg" class="expanded__image">
            </div>
            <div class="expanded__content">
                <h2 class="expanded__title">Education</h2>
                <p class="expanded__text"></p>
            </div>
        </div>
    </div>
</div>
<div class="expanded landing__section">
    <div class="container">
        <div class="expanded__inner">
            {% for page in education %} <!--Lets you iterate through each page -->
            <div class="expanded__content">
                <h2 class="expanded__title">{{ page[0]["institution"] }}  {% if page[0]["title"] %} | {{ page[0]["title"] }}{% endif %}</h2>
                <hr>
                <p class="expanded__text">{{page[0]["month_started"] | pretty_datetime(page[0]["year_started"], page[0]["month_ended"], page[0]["year_ended"], page[0]["current"])}}</p>
                <p class="expanded__text">{{ page[1] | safe }} <!--content access --></p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

