<div class="features">

{% for project in projects %}
    <article>
        {% if project[0]["image"] and project[0]["link"] %}
        <a href="{{ project[0]['link'] }}" target="_blank" class="image"><img src="{{ project[0]['image'] | get_image_path}}" alt="{{ project[0]['title'] }}" width="400px"/></a>
        {% else %}

        <img class="image" src="{{ project[0]['image'] | get_image_path}}" alt="{{ project[0]['title'] }}" width="300px"/>
        {%endif%}


        <div class="inner">

        <h3>{{ project[0]["title"] }}</h3>
        {{ project[1] | safe }}

        </div>
    </article>
{% endfor %}
</div>